@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic);


body{
  font-family:'Ubuntu';
  /*background-image: url('../assets/poke_clouds.png'), url('../assets/poke_grass.png');
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;*/
  background-image: url('../assets/poke_clouds.png'), url('../assets/poke_bottom.png');
  background-position: top, bottom;
  background-repeat: no-repeat;
  background-color: #79c9f9;
}
body:hover, table:hover, div:hover{
  cursor:default;
}

.pokebox-gif{
  vertical-align:bottom;
  /*border-bottom:1px solid black;*/
}

.pokebox-gif:hover{
  border-bottom:3px solid black;
}

.select-poke{
  border-bottom:3px solid white;
}

.select-poke:hover{
  border-bottom:3px solid white;!important
}

.vert-centered {
  display: table-cell;
  /*vertical-align: middle;*/
  overflow: scroll;

}

.info-box{
  background-color:pink;
  padding-top:20px;
  padding-bottom:20px;
  display:table;
}

div#add-info{
  height:400px;
}

.img-cell, .level-cell, .move-box, .type-cell{
  display:table-row;
}
.img-cell{
  margin-left:-5%;
  padding: 20px;
  /*background-color: white;*/
  /*border-radius: 50%;
	width: 200px;
	height: 200px;*/
}

.name-cell{
  /*text-align:center;*/

  display:table-cell;
  vertical-align: text-bottom;
  font-size:15pt;
}

.level-cell {
  display:table-cell;
}

.move-cell{
  background-color:white;
  border-radius:2px;
  margin-bottom:8px;
  height:25px;
  width:250px;
  margin-left:7%;
  text-transform: uppercase;
  position:relative;
}

.move-cell-type{
  position:absolute;
  top:-5px;
  left:-3px;
  font-size:8pt;
  font-weight:bold;
  padding:2pt;
  border-radius:1px;
}

.move-box{
  list-style-type: none;
  text-align:center;
  width:inherit;
}
.type-cell{
  display:table-cell;
  vertical-align: bottom;
}
.nick-cell{
  display:table-cell;
  font-size:15pt;
  padding-right:20px;
  vertical-align:text-bottom;
}




.party-box-wide, .party-box-tall{
  background-image: url('../assets/grass_txt.png');
  border: 3px solid #78a068;

  /*background-color:#999;*/
  /*transition: all 0.3s;*/
}

.party-box-wide{
  height:200px;
}

.party-box-tall{
  height:400px;
}

.poke-wrapper-wide, .poke-wrapper-tall{
  margin-top:3%;
}

.poke-wrapper-wide{
  margin-left: 12%;
  margin-right: 12%;
}

.poke-wrapper-tall{
  margin-left:12%;
  margin-right:12%;
}

#party-box-title{
  margin-bottom: -30px;
  font-size: 20px;
  text-align: center;
  color:white;
  background-color: #ba89b6;
  padding:8px;
}

.party-cont{
  max-width:800px;
  margin-top:40px;
  padding:10px;
}

/*CSS for ribbon*/

.non-semantic-protector { position: relative; z-index: 1; }

.ribbon {
 font-size: 16px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 50%;

 position: relative;
 background: #ba89b6;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #986794;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #804f7c transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}


/*CSS for type boxes from PokemonShowdown.com*/
.type {
    vertical-align: text-bottom;
    display: inline-block;
    width: 60px;
    height: 20px;
    padding-top: 2px;
    margin-right: 5px;
    background-color: #CBC9CB;
    background: linear-gradient(#CBC9CB, #AAA6AA);
    border: 1px solid #A99890;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #333333;
    text-transform: uppercase;!important
}

div.type {
    color: #FFFFFF;
    text-decoration: none;
}

a.subtle {
    color: black;
    text-decoration: none;
}

a.subtle:hover {
    color: #8195b8;
    text-decoration: underline;
}

.type.normal {
    background-color: #8A8A59;
    background: linear-gradient(#A8A878, #8A8A59);
    border-color: #79794E;
}

.type.fire {
    background-color: #F08030;
    background: linear-gradient(#F08030, #DD6610);
    border-color: #B4530D;
}

.type.water {
    background-color: #6890F0;
    background: linear-gradient(#6890F0, #386CEB);
    border-color: #1753E3;
}

.type.electric {
    background-color: #F8D030;
    background: linear-gradient(#F8D030, #F0C108);
    border-color: #C19B07;
}

.type.fairy {
    background-color: #F830D0;
    background: linear-gradient(#F830D0, #F008C1);
    border-color: #C1079B;
}

.type.grass {
    background-color: #78C850;
    background: linear-gradient(#78C850, #5CA935);
    border-color: #4A892B;
}

.type.ice {
    background-color: #98D8D8;
    background: linear-gradient(#98D8D8, #69C6C6);
    border-color: #45B6B6;
}

.type.fighting {
    background-color: #C03028;
    background: linear-gradient(#C03028, #9D2721);
    border-color: #82211B;
}

.type.poison {
    background-color: #A040A0;
    background: linear-gradient(#A040A0, #803380);
    border-color: #662966;
}

.type.ground {
    background-color: #E0C068;
    background: linear-gradient(#E0C068, #D4A82F);
    border-color: #AA8623;
}

.type.flying {
    background-color: #A890F0;
    background: linear-gradient(#A890F0, #9180C4);
    border-color: #7762B6;
}

.type.psychic {
    background-color: #F85888;
    background: linear-gradient(#F85888, #F61C5D);
    border-color: #D60945;
}

.type.bug {
    background-color: #A8B820;
    background: linear-gradient(#A8B820, #8D9A1B);
    border-color: #616B13;
}

.type.rock {
    background-color: #B8A038;
    background: linear-gradient(#B8A038, #93802D);
    border-color: #746523;
}

.type.ghost {
    background-color: #705898;
    background: linear-gradient(#705898, #554374);
    border-color: #413359;
}

.type.dragon {
    background-color: #7038F8;
    background: linear-gradient(#7038F8, #4C08EF);
    border-color: #3D07C0;
}

.type.steel {
    background-color: #B8B8D0;
    background: linear-gradient(#B8B8D0, #9797BA);
    border-color: #7A7AA7;
}

.type.dark {
    background-color: #705848;
    background: linear-gradient(#705848, #513F34);
    border-color: #362A23;
}

.type.question {
    background-color: #68A090;
    background: linear-gradient(#68A090, #4E7C6F);
    border-color: #41685D;
}

.type.physical {
    background-color: #E39088;
    background: linear-gradient(#E39088, #D65D51);
    border-color: #A99890;
    color: #FBC290;
}

.type.special {
    background-color: #ADB1BD;
    background: linear-gradient(#ADB1BD, #7D828D);
    border-color: #A1A5AD;
    color: #E0E2E4;
}

.type.status {
    background-color: #CBC9CB;
    background: linear-gradient(#CBC9CB, #AAA6AA);
    border-color: #A99890;
    color: #F5F4F5;
}



/*media queries*/

.poke-lister{
  padding:10px;
  text-align:center;
  font-size:15pt;
}

@media (max-width: 1029px){
  .desktop-only{
    display:none;
  }
}

@media (min-width: 1029px){
  .mobile-only{
    display:none;
  }
}
