<!DOCTYPE html>
<!--dex numbers based on national pokedex. gifs from gen V, pngs from
gen VI. movesets from gen I/II. Evolutionary chains from Gen I/II. Displaying
nat'l pokedex from 1 to 151. Due to the lack of the SpDef stat in Gen I,
stats are based on Gen II.
***Need to add exception for Eevee, #135*** -->
<html>
<head>

<title>Pokemon Red/Blue (Gen I) Pokedex</title>
<link rel="shortcut icon" type="image/ico" href="assets/pokedex.ico" />
<script src="js/jquery-2.2.0.min.js"></script>
<!--angular js-->
<script src="js/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/angular-sanitize.min.js"></script>
<!--stylesheets-->
<link href="css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css" />

</head>

<body ng-app="mainApp">

  <h1 style="text-align:center;">Pokemon Red/Blue Pokedex</h1>

<div ng-controller="MainController as main" class="container">

  <div class="container party-cont">
    <div class="row">
      <div class="party-box" ng-class="{'col-lg-7 col-md-7 col-xs-7':main.isPokemonChosen, 'col-lg-12 col-md-12 col-xs-12':!main.isPokemonChosen}">
      <!-- <div class="party-box" class="col-lg-7 col-md-7 col-xs-7"> -->
      <div class="col-lg-1 col-md-1" style="max-width:80px;" ng-repeat="pokemon in main.caught_pokemon" ng-if="pokemon.name !== undefined">

          <!-- <img ng-src="assets/{{pokemon.dex_num}}.gif" ng-click="main.showInfoBox(pokemon.dex_num)" /> -->
          <div style="overflow:auto;width:25px;">
            <img src="assets/pokeball.png" ng-click="main.showInfoBox(pokemon.dex_num)" />
            {{pokemon.name}}
          </div>
      </div>
    </div>
    <div id="add-info" ng-show="main.isPokemonChosen" ng-class="{ 'col-lg-5 col-md-5 col-xs-5':main.isPokemonChosen }">
    <!-- <div class="info-box col-lg-5 col-md-5 col-xs-5">
      <div style="display:table-row;margin-bottom:10px;">
        <span style="display:table-cell;">No.001</span>
        <span style="display:table-cell;" class="level-cell">/Lv 35</span>
      </div>

      <div style="display:table-row;">
        <span class="name-cell">Bulbasaur</span>
        <span class="type-cell type grass">Grass</span>
      </div>

      <div style="width:inherit;margin-left:20%;margin-bottom:3%;">
        <img class="img-cell" src="assets/1.png" />
        <div sytle="display:table-row">
          <span class="nick-cell">Bulby</span>
          <span class="level-cell">/Lv 35</span>
        </div>
      </div>

      <ul class="move-box">
        <li class="move-cell">
          <span class="move-cell-type type bug">Bug</span>
          <span>Fury Cutter</span>
        </li>

        <li class="move-cell">
          <span class="move-cell-type type grass">Grass</span>
          <span>Magical Leaf</span>
        </li>
        <li class="move-cell">
          <span class="move-cell-type type grass">Grass</span>
          <span>Absorb</span>
        </li>
        <li class="move-cell">
            <span class="move-cell-type type normal">Normal</span>
            <span>Cut</span>
        </li>
      </ul>
    </div> -->
    <!-- </div> -->
    </div><!--/.row-->
  </div>

  <table class="table">
    <thead>
      <th ng-click="main.setSort('dex_num')">Dex Number</th>
      <th></th>
      <th ng-click="main.setSort('name')">Name</th>
      <th>Types</th>
      <th ng-click="main.setSort('location')">Location</th>
      <th>Evolutionary Chain</th>
      <th ng-click="main.setSort('base_hp')">Base HP</th>
      <th ng-click="main.setSort('base_atk')">Base Attack</th>
      <th ng-click="main.setSort('base_def')">Base Defense</th>
      <th ng-click="main.setSort('base_spdef')">Base Special Defense</th>
      <th ng-click="main.setSort('base_spatk')">Base Special Attack</th>
      <th ng-click="main.setSort('base_speed')">Base Speed</th>
    </thead>

    <tr ng-repeat="pokemon in main.all_pokemon | orderBy:main.sort:main.direction"
    ng-if="pokemon.name !== undefined" >
      <td>{{pokemon.dex_num}}</td>
      <!--sprites from pokestadium.com-->
      <td><img ng-src="assets/{{pokemon.dex_num}}.gif" /></td>
      <td>{{pokemon.name}}</td>
      <td ng-bind-html="main.printTypes(pokemon.types)"></td>
      <td>{{pokemon.location}}</td>
      <td ng-bind-html="main.printEvolut(pokemon.evolut_chain, pokemon.name)"></td>
      <td>{{pokemon.base_hp}}</td>
      <td>{{pokemon.base_atk}}</td>
      <td>{{pokemon.base_def}}</td>
      <td>{{pokemon.base_spdef}}</td>
      <td>{{pokemon.base_spatk}}</td>
      <td>{{pokemon.base_speed}}</td>
    </tr>

  </table>

</div>

</body>

</html>
